# PostgreSQL (Railway beradi). Bo'sh qolsa SQLite ishlatiladi (local test)
DATABASE_URL=postgresql://user:password@host:5432/dbname

# Kamida 32 belgili sir so'z
JWT_SECRET=your-very-secret-key-change-this

# Cloudinary (2-bosqichda kerak bo'ladi)
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
